@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components {
    .bebas-neue-regular {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
      }

      .oswald {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
      }   
     
}


.content p{
  padding:20px
}
.testamonial p{
  padding:10px
}
.cursor{
  position:absolute;
}