---
import HomeIcon from "../icons/home-svgrepo-com.astro"
import NextIcon from "../icons/next-outline-svgrepo-com.astro"
import PrevIcon from "../icons/previous-outline-svgrepo-com.astro"

const {prev,next, prevTitle, nextTitle, home } = Astro.props;
--- 
        <section id="intro" class="snap-start w-full flex justify-center bg-slate-950 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)">

            <!-- <div class="flex sm:items-center md:items-center justify-center items-start w-4/5">
                <div class="  pt-10 pb-10 flex  flex-row justify-center items-center gap-20 ">
                    <img src="/tibcert-logo-ondark.svg" alt="tibcert-logo" class="w-28 ">
                    <img src="/tai.png" alt="tai-logo" class="w-28 ">
                   
                </div>
            </div> -->
            
		</section>
        