<section id="home" class="snap-start w-lvw   h-auto flex flex-col items-center justify-center ">
			
    <div class="relative aspect-video bg-slate-800 pt-10 pb-10 flex items-center flex-col justify-center">
        <img src="/tibcert-logo-ondark.svg" alt="test" class="w-36 ">
        <img src="/pata2-green.png" alt="test" class="w-28 pt-1">
    
    </div>
    
    <h1 class="text-[16rem] md:text-[8rem] font-bold tracking-wider bg-gradient-to-r from-slate-500 to-slate-500 via-slate-200  inline-block text-transparent bg-clip-text [text-shadow:_2px_2px_0_rgb(0_0_0_/_10%)]">Digital Desruption</h1>
    <h1 class="text-[16rem] md:text-[3rem] text-white [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)]">Exploring the Impact of Cyber Attacks on the Tibetan Community in Exile</h1>
    <p class="pb-20 text-2xl w-1/3 text-center text-slate-800"></p>
</section>