<section id="home" class="snap-start w-lvw bg-indigo-950 h-auto flex flex-col items-center justify-center pt-20">
			
    <div class="relative aspect-video ">

    
    </div>
    <img src="/tibcert-logo-svg-on-dark.svg" alt="test" class="w-96">
    <h1 class="text-[16rem] md:text-[9rem] font-bold tracking-wider text-white">REPORT TITLE HERE</h1>
</section>