---
const {title,tagline} = Astro.props;
---

<!-- <section id="home" class="snap-start w-lvw   h-auto flex flex-col items-center justify-center ">
			
    <div class="relative aspect-video  pt-10 pb-10 flex items-center flex-col justify-center">
        <img src="/tibcert-logo-ondark.svg" alt="test" class="w-36 ">
        <img src="/pata2-green.png" alt="test" class="w-28 pt-1">
    
    </div>
    
    <h1 class="text-[3rem] md:text-[8rem] lg:text-[8rem] font-bold  bg-gradient-to-r from-slate-500 to-slate-500 via-slate-200  inline-block text-transparent bg-clip-text md:[text-shadow:_2px_2px_0_rgb(0_0_0_/_10%)]">{title}</h1>
    <h1 class=" sm:text-[20px] md:text-[5rem]  text-slate-400 tracking-tight [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] max-w-screen-xl leading-none text-center ">{tagline}</h1>
    <p class="pb-20 text-2xl w-1/3 text-center text-slate-800"></p>
</section> -->

<section id="home" class="snap-start w-lvw   h-auto flex flex-col items-center justify-center ">
			
    <div class="relative aspect-video  pt-10 pb-10 flex items-center flex-col justify-center">
        <img src="/tibcert-logo-ondark.svg" alt="test" class="w-36 ">
        <img src="/pata2-green.png" alt="test" class="w-28 pt-1">
    </div>
    
    <h1 class="text-[3rem] md:text-[8rem] lg:text-[8rem] font-bold  text-yellow-400  inline-block text-transparent bg-clip-text md:[text-shadow:_2px_2px_0_rgb(0_0_0_/_10%)]">{title}</h1>
    <h1 class=" sm:text-[20px] md:text-[5rem]  text-yellow-400 tracking-tight [text-shadow:_2px_2px_0_rgb(0_0_0_/_30%)] max-w-screen-xl leading-none text-center ">{tagline}</h1>
    <p class="pb-20 text-2xl w-1/3 text-center text-slate-800"></p>
</section>