---
import HomeIcon from "../icons/home-svgrepo-com.astro"
import NextIcon from "../icons/next-outline-svgrepo-com.astro"
import PrevIcon from "../icons/previous-outline-svgrepo-com.astro"

const {prev,next, prevTitle, nextTitle, home } = Astro.props;
--- 
        <section id="intro" class="snap-start w-full bg-slate-950 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)">

            <div class="flex sm:items-center md:items-center justify-center  w-full pb-16 pt-10 ">

                <div class="group overflow-hidden w-2/5  md:flex justify-center md:justify-end">
                    <a href={prev} class="titlePrev flex-none md:flex justify-end">
                        <h1 class="text-md md:text-4xl text-slate-500 group-hover:text-slate-400 text-center  md:p-20 md:pr-5 md:w-96">{prevTitle} </h1><PrevIcon/> </a>
                </div>

                <div class="w-1/5 rounded-lg  flex items-center justify-center">
                    <a href="/"><HomeIcon/></a>
                </div>

                <div class="group overflow-hidden w-2/5 md:flex justify-center md:justify-start ">
                    <a href={next} class="titleNext flex-none md:flex md:flex-row-reverse justify-start items-center ">
                        <h1 class="text-md md:text-4xl text-slate-500 group-hover:text-slate-400 text-center  md:p-20 md:pl-5 md:w-96">{nextTitle}</h1><NextIcon/></a>
                </div>

            </div>
		</section>
        <script> 
 
            import { gsap } from "gsap";
             import  ScrollTrigger  from "gsap/ScrollTrigger";
             gsap.registerPlugin(ScrollTrigger);
              
             const titlePrev = gsap.utils.toArray(".titlePrev");
             titlePrev.forEach((title,i)=>{
                 gsap.from(title, {
                 scrollTrigger:{
                 trigger: title,
                 start: "top 100%",
                 end: "end 50%",
                 scrub: true,
                 markers: false
                 },
                 opacity: 0, x:-900,duration: 2,scale: 2 
             })})
         
    
             const titleNext = gsap.utils.toArray(".titleNext");
             titleNext.forEach((title,i)=>{
                 gsap.from(title, {
                 scrollTrigger:{
                 trigger: title,
                 start: "top 100%",
                 end: "end 50%",
                 scrub: true,
                 markers: false
                 },
                 opacity: 0, x:900,duration: 2,scale: 2 
             })})
         
    
             // text fpr paragraph
    
            
       
         </script>