---
const {src} = Astro.props
---
<div class="flex justify-center items-center">
<iframe class="w-full sm:w-52 md:max-w-screen-md lg:w-full py-10 h-56 sm:h-56 md:h-[450px] lg:h-[450px] video-js vjs-theme-fantasy" {src} title="YouTube video player"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>





