---
import Default from "../../../layouts/Default.astro"
import HomeIcon from "../../../icons/home-svgrepo-com.astro"
import NextIcon from "../../../icons/next-outline-svgrepo-com.astro"
import PrevIcon from "../../../icons/previous-outline-svgrepo-com.astro"


---
<Default title=" Introduction ">

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900 justify-around">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex flex-col justify-between overflow-hidden">
                <p class="text-slate-400 text-5xl text-center p-5 bg-slate-800 w-80 m-auto">On The Frontline</p>
				<h1 class="titleLeft font-bold text-9xl text-white content-center p-20 text-center" transition:name="heading1">A movement Under Surveillance</h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald">
            <div class="mx-auto w-4/5 p-10 text-white">
                <p>
                    The first line of attack in most digital espionage that uses targeted malware is luring targets to perform some kind of action, usually opening a malicious attachment or link. The social engineering tactics used in these intrusion attempts are often highly sophisticated and show a knowledge of the activities and network of the target. This level of sophistication speaks to the effort being put into the espionage campaigns and the amount of information the adversaries already have on their targets. The stories we collected from community members on the frontline of Tibet advocacy share key moments in the history of the movement. This mirroring reflects the persistence of digital threats over decades and shows how closely the adversaries monitor the community.
                </p>
               
            </div>


        </section>

        <section id="intro" class="snap-start w-full bg-slate-500  ">
            <div class="flex space-between items-center w-11/12">
                <div class="  overflow-hidden w-2/5 flex justify-end">
                    <h1 class="titlePrev font-bold text-4xl text-white  p-20  inline-flex items-center"> Home <PrevIcon/> </h1>
                </div>
                <div class="w-1/5 h-40  rounded-lg  flex items-center justify-center">
                    <a href="/"><HomeIcon/></a>
                </div>
                <div class=" overflow-hidden w-2/5  flex justify-start">
                    
                    <h1 class="titleNext font-bold text-4xl text-white text-center p-20  inline-flex items-center"><NextIcon/> The Tibet Movement Goes Online </h1>
                </div>
            </div>
		</section>


	</div>
    <script> 
 
            import { gsap } from "gsap";
         import  ScrollTrigger  from "gsap/ScrollTrigger";
         gsap.registerPlugin(ScrollTrigger);
          
         const titlePrev = gsap.utils.toArray(".titlePrev");
         titlePrev.forEach((title,i)=>{
             gsap.from(title, {
             scrollTrigger:{
             trigger: title,
             start: "top 100%",
             end: "end 0%",
             scrub: true,
             markers: true
             },
             opacity: 0, x:-900,duration: 2,scale: 2 
         })})
     

         const titleNext = gsap.utils.toArray(".titleNext");
         titleNext.forEach((title,i)=>{
             gsap.from(title, {
             scrollTrigger:{
             trigger: title,
             start: "top 100%",
             end: "end 0%",
             scrub: true,
             markers: true
             },
             opacity: 0, x:900,duration: 2,scale: 2 
         })})
     

         // text fpr paragraph

        
   
     </script>



	
</Default>