---
import Default from "../../layouts/Default.astro"
import HomeIcon from "../../icons/home-svgrepo-com.astro"
import NextIcon from "../../icons/next-outline-svgrepo-com.astro"
import PrevIcon from "../../icons/previous-outline-svgrepo-com.astro"
import VideoIcon from "../../icons/video.astro"
---
<Default title="On The Frontlines">

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex justify-between overflow-hidden">
				<h1 class="titleLeft font-bold text-9xl text-white content-center p-20 text-center" transition:name="title4">On The Frontlines</h1>
			</div>
		</section>
        
        <section class="content bg-slate-900 w-full text-3xl font-oswald">
            <div class="mx-auto w-4/5 p-10 text-white">
                <p>While incidents of digital espionage against the Tibetan community are well documented in threat intelligence reports, the focus is almost always on the technical aspects alone. These reports have no understanding of the social and political context in which these threats occur. Without this context it is not possible to understand the harm of digital espionage.</p>
                <p>
                Only paying attention to the malware and other technical tricks being used in digital espionage is like investigating a shooting but only analyzing the gun. When gun crime is investigated, the forensic details of the bullet may help connect similar attacks and maybe even trace it to the shooter, but if the damage against the victim and the context in which the attack happened is ignored the nature and impact of the crime cannot be properly assessed. Digital espionage is no different. A full understanding of digital espionage requires a wider and deeper view into the issue. We interviewed members of the Tibet movement who have been targeted by digital espionage to document the history of the threat against the community and show the impact.
                </p>
                <br>
            <div class="grid grid-cols-4 ">
                <a href="/page/on-the-frontline/a-movement-under-surveillance" class="col-span-2 ">
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden ">
                        <img src="../../images/surveillance.jpg" alt="Surveillance" class="w-full h-full object-cover   absolute z-0 opacity-30 hover:opacity-20">
                        
                        <p class="z-20" transition:name="heading1">A Movement Under Surveillance</p>
                    </div>
                </a>
                <a href="/page/on-the-frontline/impersonation-&-trust" class="col-span-2 ">
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden">
                        <img src="../../images/computer-security.jpg" alt="Surveillance" class="w-full h-full object-cover  absolute z-0 opacity-30 hover:opacity-20">
                        <p class="z-20" transition:name="heading2">Impersonation & Trust</p>
                    </div>
                </a>
                <a href="/page/on-the-frontline/poisoning-the-well">
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden">
                        <img src="../../images/Greatfirewall.png" alt="Surveillance" class="w-full h-full object-cover  absolute z-0 opacity-30 hover:opacity-20">
                        <p class="z-20" transition:name="heading3">Poisoning The Well</p>
                    </div>
                </a>
                 <a  class="col-span-2"  data-modal-target="default-modal" data-modal-toggle="default-modal"> 
                    <!-- href="/page/on-the-frontline/attempt-to-silence-voice-of-tibet" -->
                    <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden">
                        <img src="../../images/Uyghur.jpeg" alt="Surveillance" class="w-full h-full  object-cover absolute z-0 opacity-30 hover:opacity-20">
                        <p class="z-20" transition:name="heading4">Attempt To Silence The Voice Of Tibet</p>
                        <button data-modal-target="default-modal" data-modal-toggle="default-modal"><VideoIcon></button>
                    </div>
                     </a>    
               <a href="/page/on-the-frontline/spy-in-your-pocket"  class="cursor-pointer"> 
                <div class="w-full flex h-80 items-center border-2 border-slate-800 justify-center relative overflow-hidden" >
                    <img src="../../images/mobile-security.jpeg" alt="mobile security" class="w-full h-full absolute z-0 opacity-30 hover:opacity-20">
                    <p class="z-20">The Spy In Your Pocket</p>
                </div>
            </a>
            </div>

        </div>
        </section>

        <section id="intro" class="snap-start w-full bg-slate-500  ">
            <div class="flex space-between items-center w-11/12">
                <div class="  overflow-hidden w-2/5 flex justify-end">
                    <h1 class="titlePrev font-bold text-4xl text-white  p-20  inline-flex items-center"> Home <PrevIcon/> </h1>
                </div>
                <div class="w-1/5 h-40  rounded-lg  flex items-center justify-center">
                    <a href="/"><HomeIcon/></a>
                </div>
                <div class=" overflow-hidden w-2/5  flex justify-start">
                    
                    <h1 class="titleNext font-bold text-4xl text-white text-center p-20  inline-flex items-center"><NextIcon/> The Tibet Movement Goes Online </h1>
                </div>
            </div>
		</section>
        <section id="pagination" class="snap-start w-lvw bg-slate-900 h-80">
			
		</section>
	</div>

    

<!-- Modal toggle -->
<button  class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    Toggle modal
  </button>
  
  <!-- Main modal -->
  <div id="default-modal"  tabindex="-1" aria-hidden="true" class="hidden  overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
      <div class="relative p-4 w-full max-w-4xl max-h-full">
          <!-- Modal content -->
          <div class="relative  bg-slate-900 text-white  rounded-lg shadow ">
              <!-- Modal header -->
              <div class="flex items-centerjustify-between p-4 md:p-5 border-b rounded-t">
                  <h2 class="text-4xl dark:text-white lowercase">
                    Attempt to Silence Voice Of Tibet
                  </h2>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="default-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                      </svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
              <div class="p-4 md:p-5 space-y-4 lowercase font-normal">
                <video  loop  controls class=" z-10 w-full min-w-full min-h-full max-w-none">
                    <source
                      src="https://tibcert.org/threat-story/images/paldon-vot.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support the video tag.
                  </video>
                  <p>
                    Targeted digital espionage is not the only threat that Tibetan groups experience. Some digital attacks are aimed at silencing groups through attacks on websites.
                  </p>
                  <p>
                    Voice of Tibet (VOT) is an independent radio station founded in 1996 with a mission to transmit news to Tibetans inside Tibet and around the world. Tibetan exile media like VOT present a clear threat to the censorship regime of China by providing independent news to Tibetans inside Tibet in both Tibetan and Mandarin. The VOT website is blocked in China and its transmissions online and over the air comes under constant threat.
                  </p>
                  <p>
                    In 2011, VOT experienced massive disruptions of its website and radio signal. The website was taken offline by a Distributed Denial of Service (DDoS) attack overwhelming the website with too much traffic. This type of digital threat works by flooding a website with too many requests than it can handle resulting in poor performance or even complete crashes. It’s like shutting down a road by causing a massive traffic jam. At the same time as the DDoS attack, VOT’s shortwave radio transmissions into Tibet experienced persistent jamming attempts.
                  </p>
                  <p>
                    For VOT what happened was clear, it had been attacked by agents of China in an attempt to silence the service. Oystein Alme, then the project manager at VOT, remarked: “We have noted a significant increase in jamming since 16 March, especially in the cities where the government has invested tens of millions of dollars to install antennae to prevent Tibetans from listening to us.”
                  </p>
                  <p>
                    Tenzin Peldon, Chief Editor at VOT, emphasized the resilience of Tibetan media in the face of adversity, acknowledging the ongoing battle against Chinese censorship. Despite relentless attempts to disrupt their broadcasts,^17 Peldon affirmed VOT’s commitment to circumventing censorship through innovative programming strategies. However, the repercussions of these attacks extended beyond VOT, impacting the broader Tibetan community’s access to vital information and cultural preservation efforts.
                  </p>
                  <blockquote class="testamonial mx-auto w-4/5  text-white bg-slate-800  flex justify-between relative items-center">
                    <span class="text-9xl absolute z-0 text-slate-600">“</span>
                    <div class="  text-slate-300 p-5 text-lg z-10  italic ">
                        <p>
                            “When this kind of attack happens to us, it not only tarnishes the credibility of Tibet Times among our viewers but more importantly it jeopardizes their safety as well through potential device infections. Naturally it also creates a worrisome and annoying situation in our working process.”
                        </p>
                        <p class="text-right text-xs">
                            - Tenzin Rabyang, Managing Director at Tibet Times
                        </p>   
                    </div>
                   
                    </blockquote>
                    <p>
                        Websites served as more than just information hubs; they were vital platforms for cultural preservation, community building, and political advocacy. Threats like DDoS attacks disrupt the flow of information and impede the community’s ability to raise awareness about human rights violations in Tibet. Other Tibetan media and civil society groups including Tibet Times, Phayul, and the Tibetan Center for Human Rights and Democracy (TCHRD), also faced similar assaults, highlighting the systematic targeting of Tibetan voices by malicious actors. As Tibetans continue to navigate the digital landscape, safeguarding their online platforms becomes paramount to upholding their right to free expression and preserving their cultural heritage.
                    </p>
              </div>
             
          </div>
      </div>
  </div>
  
    <script> 
 
        import { gsap } from "gsap";
         import  ScrollTrigger  from "gsap/ScrollTrigger";
         gsap.registerPlugin(ScrollTrigger);
          
         const titlePrev = gsap.utils.toArray(".titlePrev");
         titlePrev.forEach((title,i)=>{
             gsap.from(title, {
             scrollTrigger:{
             trigger: title,
             start: "top 100%",
             end: "end 0%",
             scrub: true,
             markers: true
             },
             opacity: 0, x:-900,duration: 2,scale: 2 
         })})
     

         const titleNext = gsap.utils.toArray(".titleNext");
         titleNext.forEach((title,i)=>{
             gsap.from(title, {
             scrollTrigger:{
             trigger: title,
             start: "top 100%",
             end: "end 0%",
             scrub: true,
             markers: true
             },
             opacity: 0, x:900,duration: 2,scale: 2 
         })})
     

         // text fpr paragraph
     </script>



	
</Default>