---
import Default from "../../layouts/Default.astro"
import HomeIcon from "../../icons/home-svgrepo-com.astro"
import NextIcon from "../../icons/next-outline-svgrepo-com.astro"
import PrevIcon from "../../icons/previous-outline-svgrepo-com.astro"


---
<Default title=" The Community Responds ">

	<div class=" flex flex-col snap-mandatory h-full snap-y w-screen items-center bg-slate-900">

		<section id="intro" class="snap-start w-lvw bg-slate-300 ">
			<div class=" bg-black flex justify-between overflow-hidden">
				<h1 class="titleLeft font-bold text-9xl text-white content-center p-20 text-center">The Community Responds</h1>
			</div>
		</section>
        <section class="content bg-slate-900 w-full text-3xl font-oswald">
            <div class="mx-auto w-4/5 p-10 text-white">
                <p>
                    From the moment the Tibetan community came online we have faced persistent digital espionage. Over decades of being targeted, the community has grown capacities and resilience for defending against digital threats.
                </p>
                <p>
                    A key mission of Tibet Action institute is to defend against relentless cyber attacks and surveillance from China. Since its inception, the group has led campaigns for digital security awareness and training.^21 Efforts include digital security education campaigns focused on fundamental topics such as basic web browser security and how to prevent malware infection. These campaigns feature references to Tibetan culture such as the Detach from Attachments campaign that played on a piece of Buddhist wisdom.^22 The message of the campaign is simple: don’t send attachments, don’t open attachments, and consider cloud-based platforms such as Google Drive or Dropbox as an alternative for sharing files.
                </p>
                <p>
                    This type of behavior change can be an effective way to defend against targeted digital espionage. A study from the Citizen Lab found that in the early 2010s malicious file attachments were the most common threat Tibetan organizations received. The researchers found that simply not opening email attachments would have prevented over 95 percent of the threats the Tibetan groups in the study received.11 These findings show that education is an essential foundation for increasing digital security defense. However, there is an inherent asymmetry between the digital defenses of Tibetan groups and the capabilities of the operators who target them.
                </p>
                <p>
                    State sponsored espionage operators have exponentially more resources to develop and conduct digital espionage than civil society has to defend themselves. As our review of digital espionage shows, threats evolve over time and are quick to adapt to changes in how the community uses technology and implements defenses. Changing the behaviour of a community is a slow and gradual process, while an adversary can evolve overnight. Therefore, while education and training are essential efforts that must continue, there needs to be more to properly respond to the threat.
                </p>
                <p>
                    In 2018, members of the Tibetan community formed the Tibetan Computer Emergency Readiness Team (TibCERT)^24 in Dharamsala, India, in November 2018. TibCERT follows the standard model for CERTS (Computer Emergency Readiness Teams) which are expert groups that handle computer security incidents. Countries have government run CERTS that operate on the national level tasked with protecting their country from digital threats. There are also sector level CERTS that facilitate threat intelligence sharing between companies in specific areas such as finance. TibCERT operates in this model to provide threat intelligence sharing, incident response, and technical support to Tibetan member organizations. TibCERT includes two main programs. TibCERT Recon focuses investigating threats facing Tibetans in exile and surveillance within Tibet. TibCERT Response facilitates knowledge sharing and collaborative threat mitigation among stakeholders. Forming a professionalized Computer Emergency Readiness Team for the Tibetan community represents a significant milestone in developing robust resilience to digital threats.
                </p>
                <blockquote class="testamonial mx-auto w-3/5  text-white bg-slate-800  flex justify-between relative items-center">
                    <span class="text-9xl absolute z-0 text-slate-600">“</span>
                    <div class="  text-slate-300 p-5 text-xl z-10  italic ">
                        <p>
                            There were a number of reasons why TibCERT was formed. It came from discussions internally and with partners at the Citizen Lab about how the Tibetan community in the diaspora has been targeted with spyware as a community and any solution that we develop must be community led.
                        </p>
                        <p>
                            At the same time, there was another reason which was about taking the online CERT space back for Tibet so that TibCERT is an entity responsible for protecting the digital space for both Tibetans inside Tibet and outside Tibet. Our goal is to build internal capacity and also standardize the structure of this community led initiative so that it can partner with global researchers on shared protocols.”
                        </p>
                        <p class="text-right text-xs">
                            - Lobsang Gyatso Sither
                        </p>   
                    </div>
                    <div class="w-2/5 h-full bg-red-300">
                        <img src="/media/dan.jpg" class="object-cover w-full  h-full" alt="" >
                     </div>
                    </blockquote>

                <p>To extend its reach, TibCERT has deployed Digital Security Ambassadors in major settlements in India, providing technical assistance and incident response to local communities. Additionally, TibCERT has initiated the TibCERT Response Hub Program, establishing hubs in Dharamshala, Mundgod, and Bylakuppe, where volunteers convene monthly to address community-specific challenges and implement solutions. In 2022, TibCERT expanded its reach by establishing two TibCERT Community Centers in South India, dedicated to addressing digital security challenges, particularly within monastic institutions.</p>
                <p>Currently encompassing over 50 organizations and institutions, TibCERT seeks to broaden its reach within the diaspora community, offering incident response services for suspicious emails and assisting in the implementation of digital security policies. These efforts aim to foster a secure work environment and fortify the overall digital resilience of Tibetan individuals and organizations within the community and beyond.</p>
                <p>
                    The Tibetan community has had to prioritize digital security out of necessity. The Tibetan diaspora is one of the first communities to be targeted by government sponsored digital espionage and has experienced the threat for decades. However, Tibetans are far from the only community facing these challenges. This type of threat extends to civil society around the world. Countless investigations have shown that the sponsors and operators of these operations often share tactics, techniques, and procedures. It is time for civil society to demonstrate similar coordination and strategies to exchange knowledge and data about threats and share best practices in defending against them. Given the common experience of civil society groups confronting information security challenges, a collective approach may yield greater benefits than attempting to tackle these threats in isolation.
                </p>
                <p>
                    The goal of sharing the first hand experiences of Tibetans targeted by digital espionage and how our community responds to this challenge is informing and inspiring the struggles of human rights groups who may just be becoming aware of digital espionage.
                </p>
                <p>
                    The Tibetan community must continue to work together to maintain resilience to digital espionage and the long reach of China. We also must stand in solidarity with civil society groups around the world that are facing transnational repression from authoritarian regimes. Together we can empower each other and form a more secure, free, and open Internet that enables movements to create positive social change.
                </p>

            <h2>GENERAL COMMENTS </h2>
            <p>There are great stories here, but they should be reorganized so together they tell a wider compelling narrative. The key is to show the community has been targeted for decades and this persistent targeting is a major violation of human rights including freedom of speech, assembly, privacy, etc.</p>
            <p>Think of this output less of a report and more of a story. You need to make people care about the issue and feel a sense of intimacy with it based on the testimonials of community members. You need to guide the reader on this journey. It should be engaging and relatable for someone who has never heard about digital espionage against the Tibetan community. It should serve as an accessible introduction to the issue that spells out the implications in plain language.</p>
            <p>
                The distinction between individuals, organizations, and community used to structure section 4 is not useful for story telling. If you think about it, any of these incidents can be framed as attacks against the community / movement as a whole whether they are directed to one person’s email or a website, etc. Also attacks against Kate and Lhadon are attacks against key leaders so they are also against the organizations.
            </p>
            <p>
                I would make the structure of these stories more thematic and group them together to make bigger points. For example, the Kate and Lhadon stories show how at different vital points of the movement, (2008 Olympics, Wave of self immolations), the movement was targeted by digital espionage.
            </p>
            <p>
                The Lobsang and Lhagyari Namgyal Dolkar stories show how these threats evolved to target mobile platforms. It’s very important in these last two stories to show how the sophistication of the threats improved.
            </p>
            <p>
                So now as an example these two themes together show how persistent and resourced these espionage campaigns are and how they have evolved over a decade.
            </p>
            <p>
                In this way they can tell a wider story and make the main message obvious to the reader.
            </p>
            <p>
                Here’s a way to sequence the stories. Think of each story as a headline in a newspaper. What’s the hook? What’s the main story?
            </p>
            <ol class="list-decimal list-outside px-10">
                <li class="leading-relaxed">Olympics - Kate</li>
                <li class="leading-relaxed">Self Immolations - Lhadon</li>
                <li class="leading-relaxed">COVID Main message – persistent, targeted espionage for over a decade. The espionage operators pay very close attention to the community and prey on issues of concern. Show the clear human rights implications. Violations against privacy, right to assembly, free speech, etc. These are the harms of digital espionage. Put another way digital espionage is a human rights violation.</li>
                <li class="leading-relaxed">TWA Main message – a key org in the Tibetan movement run by Women has been persistently targeted by digital espionage for decades</li>
                <li class="leading-relaxed">Attack against Voice of Tibet (VOT) Make the headline and focus here about DDOS as CENSORSHIP. This example shows that espionage is not always the objective, sometimes it’s censorship. This action is a threat to freedom of expression. They are not just trying to censor the website in Tibet / China, they are trying to silence it for the WORLD.</li>
                <li class="leading-relaxed">Website attack against Tibet Times Make the headline and story about watering hole attacks. Explain the concept in plain language as if you were explaining it to someone at a training for the first time. Lead with the metaphor that the website is like a village well. It’s where the community gets their water (information). If you poison the well you poison the community.</li>
                <li class="leading-relaxed">A Tibetan MP and Spoofed Apps (2013) Make the headline about an evolution of threats to targeting Mobile.</li>
                <li class="leading-relaxed">Lhagyari Namgyal Dolkar and WhatsApp (2018) The headline should be about the escalation of attacks. You can accurately call this campaign the most sophisticated mobile espionage against the community.</li>

            </ol>
            <p>For the community response section make it more of a story. Right now it reads like a summary you would have in a grant report, which is OK for that purpose but here you want to tell a story and have people relate to it. Include quotes from Lobsang and others talking about why it was set up, what it means to them, and vision for the community. Make it personal and relatable just like the previous stories.</p>
            </div>


        </section>

        <section id="intro" class="snap-start w-full bg-slate-500  ">
            <div class="flex space-between items-center w-11/12">
                <div class="  overflow-hidden w-2/5 flex justify-end">
                    <h1 class="titlePrev font-bold text-4xl text-white  p-20  inline-flex items-center"> Home <PrevIcon/> </h1>
                </div>
                <div class="w-1/5 h-40  rounded-lg  flex items-center justify-center">
                    <a href="/"><HomeIcon/></a>
                </div>
                <div class=" overflow-hidden w-2/5  flex justify-start">
                    <h1 class="titleNext font-bold text-4xl text-white text-center p-20  inline-flex items-center"><NextIcon/> The Tibet Movement Goes Online </h1>
                </div>
            </div>
		</section>
        <section id="pagination" class="snap-start w-lvw bg-slate-900 h-80">
			
		</section>

	</div>
    <script> 
 
            import { gsap } from "gsap";
         import  ScrollTrigger  from "gsap/ScrollTrigger";
         gsap.registerPlugin(ScrollTrigger);
          
         const titlePrev = gsap.utils.toArray(".titlePrev");
         titlePrev.forEach((title,i)=>{
             gsap.from(title, {
             scrollTrigger:{
             trigger: title,
             start: "top 100%",
             end: "end 0%",
             scrub: true,
             markers: true
             },
             opacity: 0, x:-900,duration: 2,scale: 2 
         })})
     

         const titleNext = gsap.utils.toArray(".titleNext");
         titleNext.forEach((title,i)=>{
             gsap.from(title, {
             scrollTrigger:{
             trigger: title,
             start: "top 100%",
             end: "end 0%",
             scrub: true,
             markers: true
             },
             opacity: 0, x:900,duration: 2,scale: 2 
         })})
     

         // text fpr paragraph

        
   
     </script>



	
</Default>